<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Page Info -->
        <title>Chamelodors</title>
        <meta name="author" content="Rasya Soeroso">
        <meta name="description" content="A Place to Call Home">
    
        <link rel="stylesheet" type="text/css" href="css/agile.css">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
      </head>
    <body>
        <!------------------------------------ HEADER ---------------------------------------------------------------------->
        <header id="header">
            <nav id="nav-bar">
            <ul class="nav-list">
                <ul class="nav-left">
                    <li>
                        <a href="/">
                            <img id="header-img" src="images/CL_transparent_outline_grn.png" alt="Logo">
                        </a>
                    </li>
                </ul>
                <div class="menu-wrap">
                    <input type="checkbox" class="toggler">
                    <div class="hamburger">
                        <div></div>
                </div>
                <div class="menu">
                    <div>
                        <div>
                            <ul class="nav-list">
                                <li class="nav-elements">
                                    <a class="nav-link" href="#solution">Our Solution</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#benefits">Benefits</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#kvp">KVP</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#ux">UX</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#empathy">Empathy Map</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#team">Team</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#">Shop</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </ul>
            </nav>
        
        </header>
        <!------------------------------------ HEADER ENDS ---------------------------------------------------------------------->
        
        <div class="container">
            <!------------------------------------ HERO ---------------------------------------------------------------------->
            <a href="#"></a>
            <section id="hero">
                <div class="hero-text">
                    <h1>
                    Chamelodors
                    </h1>
                    <p class="description">
                        Chamelodors is a new company that is seeking to target the cigar and cannabis market with a premium smart and stylish humidor for both storage and display. 
                        This humidor will be fully automated—no more fussing with humidification packs. The humidity settings can be changed either through the control panel or on our mobile app. The interface includes easy-to-read gauges and intuitive controls such that anyone can simply store and display their cigars or cannabis with confidence and ease of mind.
                    </p>
                    <a href="#shop" class="hero-btn btn align-center text-small btn-2">Buy now</a>
                </div>
                <div class="hero-image image-container">
                    <img src="images/canacigar.jpg" alt="Hero Image">
                </div>
            </section>  
            <!------------------------------------ HERO ENDS ---------------------------------------------------------------------->
            <!------------------------------------ SOLUTION ---------------------------------------------------------------------->
            <a id="solution" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title">
                    Our Solution
                    </h2>
                </div>
                <p class="title-description align-center">
                    No more leaky humidor. Maintain its potency.
                </p>
                <div class="pricing-container">
                    <div class="pricing-card-container align-center">
                        <p class="pricing-card-description align-center">
                            <img class='sol' src="images/double_ins.png" alt="">
                            <span class="small">Dual-Layer insulation</span>
                        </p>
                        <p class="par">Acrylic interior for consistent humidification, wood exterior for style.</p>
                    </div>

                    <div class="pricing-card-container align-center">
                        <p class="pricing-card-description align-center">
                            <img class='sol' src="images/iot.png" alt="">
                            <span class="small">IoT smart control</span>
                        </p>
                        <p class="par">Monitor and adjust the humidity level from the app.</p>
                    </div>
                </div>
            </section>
            <!------------------------------------ SOLUTION ENDS ---------------------------------------------------------------------->
            <!------------------------------------ BENEFITS ---------------------------------------------------------------------->
            <a id="benefits" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title">
                    Benefits
                    </h2>
                </div>
                <p class="title-description align-center">
                    A humidity solution that is consistent, automatic, easy to use, affordable, and stylish has yet to exist…until now. 
                    Chamelodors offers a solution that exceeds each one of these points:
                </p>
            
                <div class="section-container">
                    <div>
                        <div class="image-container image-bnf">
                            <img src="images/consistent.png"
                                alt="">
                        </div>
                    </div>
                    <div>
                        <div class="text-container">
                            <h2 class="heading">
                                Consistent
                            </h2>
                            <p class="description">
                                Our humidor functions like a Tupperdore on the inside with sealed acrylic insulation, 
                                while maintaining a classic wooden style on the outside. No more leaks!
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="text-container">
                            <h2 class="heading">
                                Automatic
                            </h2>
                            <p class="description">
                                The Chamelodors humidor uses a temperature and humidity sensor not only to display the temperature and humidity information to the user, but also to make adaptive humidification decisions on the fly! 
                                Based on the user’s preference, our humidor uses a computer to monitor the desired humidity level and makes adjustments to meet that level.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="image-container image-bnf">
                            <img src="images/auto.png"
                                alt="">
                        </div>
                    </div>
                    <div>
                        <div class="image-container image-bnf">
                            <img src="images/easy.png"
                                alt="">
                        </div>
                    </div>
                    <div>
                        <div class="text-container">
                            <h2 class="heading">
                                Easy to use
                            </h2>
                            <p class="description">
                                The controls on our humidor are intuitive and natural. 
                                Gauges are easily readable at a glance and setting your desired humidity level could not be easier. Since the computer handles the actual humidification, the only user input required is their desired humidity level. 
                                Humidifying your cigars and/or cannabis has never been easier!
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="text-container">
                            <h2 class="heading">
                                Affordable
                            </h2>
                            <p class="description">
                                The Chamelodors humidor will be competitively priced against other accessible manual humidors on the market.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="image-container image-bnf">
                            <img src="images/affordable.png"
                                alt="">
                        </div>
                    </div>
                    <div>
                        <div class="image-container image-bnf">
                            <img src="images/stylish.png"
                                alt="">
                        </div>
                    </div>
                    <div>
                        <div class="text-container">
                            <h2 class="heading">
                                Stylish
                            </h2>
                            <p class="description">
                                The Chamelodor humidor was designed to be shown off! Design cues for the control panel were inspired by timeless classic designs, such as classic automotive gauges and vintage guitar amplifier controls. 
                                Interior LED lighting along with a glass door ensures that your investments look impressive and transform into a conversation piece. 
                                The wooden exterior blends in nicely with surrounding furniture.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!------------------------------------ BENEFITS END ---------------------------------------------------------------------->
        
        
            <!------------------------------------ KVP ---------------------------------------------------------------------->
            <a id="kvp" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title">
                    Our KVP
                    </h2>
                </div>
                <!-- <p class="title-description align-center"> 
                    Chamelodors offers a new and unique humidification experience to its customers. 
                    As of now, there does not exist an affordable humidor on the market that is also automatic, stylish, and consistent. 
                    We seek to fill this void and hence redefine the status quo of tobacco and cannabis storage with our revolutionary product—no sacrifices or extra effort required.
                </p> -->
                <p class="title-description align-center"> 
                    Chamelodors offers a new and unique humidification experience to its customers. 
                    As of now, there does not exist an affordable humidor on the market that is also automatic, stylish, and consistent. 
                    We seek to fill this void and hence redefine the status quo of tobacco and cannabis storage with our revolutionary product—no sacrifices or extra effort required.
                </p>
                <div class="image-container image-kvp">
                    <img src="images/landscape-crop.jpg" alt="">
                </div>
            </section>
            <!------------------------------------ KVP END ---------------------------------------------------------------------->
            <!------------------------------------ UX ---------------------------------------------------------------------->
            <a id="ux" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title">
                    User Experience
                    </h2>
                </div>
                <p class="description margin-top"> 
                    Some improvements were made to improve the user experience for this website. 
                    The home page is presented as an "envelope" with our logo placed in the center of the page. 
                    A hover effect was added as a cue for users to click the logo. 
                    The click will then redirect them to the product page where all the information lives.
                </p>
                <h2 class="heading">the Principle of Visibility</h2>
                <p class="description">
                    The navigation bar allows them to quickly and easily find the information they're looking for. 
                    When they click one of the menu options, it will send them to the corresponding section in the webpage.
                    It can also help them find important information that they didn’t know they needed, like an email signup page, or team information.
                </p>
                <h2 class="heading">the Principle of Viscosity</h2>
                <p class="description">
                    This website allows users to continuously scroll through our content without taking too many steps to accomplish their goal.
                    We love our customers, and we want to provide them with a frictionless browsing experience. 
                    Indeed, this is designed to pull you in and hopefully make you become our customer!
                </p>
                <h2 class="heading">the Principle of Consistency</h2>
                <p class="description">
                    Consistent patters allows users to recognize familiar elements as they move through a system. 
                    For example, I used the same heading pattern for every section, and the same hover effect for "buy now" and "subscribe" buttons. 
                </p>
            </section>

            <!------------------------------------ UX END ---------------------------------------------------------------------->

            <!------------------------------------ EMPATHY MAP ---------------------------------------------------------------------->
            <a id="empathy" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title">
                    Empathy Map
                    </h2>
                </div>
                <div class="image-container image-kvp">
                    <img src="images/empathy-map.png" alt="">
                </div>
            </section>

            <!------------------------------------ EMPATHY MAP END ---------------------------------------------------------------------->


            <!------------------------------------ TEAM ---------------------------------------------------------------------->
            <a id="team" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title">
                        Meet the Team!
                    </h2>
                </div>
                <div class="pricing-container">
                    <div class="pricing-card-container align-center">
                        <h1 class="pricing-card-title align-center">
                        Rasya Soeroso
                        </h1>
                        <p class="par">
                            An electrical engineering senior with a depth in ML and Controls.    
                            Born and raised in Indonesia. She has an uttermost passion for technology, engineering and product development.
                        </p>
                    </div>
                    <div class="pricing-card-container align-center">
                        <h1 class="pricing-card-title align-center">
                        Rishiv Thondepu
                        </h1>
                        <p class="par">
                            An ECE major with a depth in ML and Controls, Rishiv is passionate about building products. 
                            He is from Chennai, India and is pursuing a career in Systems Engineering.
                        </p>
                    </div>
                    <div class="pricing-card-container align-center">
                        <h1 class="pricing-card-title align-center">
                        Gino Calgaro
                        </h1>
                        <p class="par">
                            A San Diego native, Gino is a fourth-year Electrical Engineering major at UC San Diego studying a depth in Digital Signal Processing. 
                            In his free time, he enjoys playing music, working on cars, and trying new things.
                        </p>
                    </div>
                    <div class="pricing-card-container align-center">
                        <h1 class="pricing-card-title align-center">
                        Kyle Janosky
                        </h1>
                        <p class="par">
                            Coming soon
                        </p>
                    </div>
                </div>
                
            </section>
            <!------------------------------------ TEAM END ---------------------------------------------------------------------->

            <!------------------------------------ FOOTER ---------------------------------------------------------------------->
        
            <a id="contact" href="#"></a>
            <footer id="footer">
            <div class="footer-container">
                <h1 class="footer-text align-center">
                Stay in the loop
                </h1>
        
                <p class="footer-description align-center">
                Subscribe to our newsletter to get the latest news and updates.
                </p>
        
                <form action="" id="form">
                <input type="email" name="email" id="email" placeholder="Enter your email address">
                <input type="submit" id="submit" class="btn align-center text-small footer-btn" value="Subscribe">
                </form>
            </div>
        
            <ul class="footer-list">
                <dd class="footer-list-item">
                    <a href="#"><img id="logo" src="images/CL_transparent_outline_grn.png" alt="Robot"></a>
                </dd>
                <dl class="footer-list-container">
                    <dt class="footer-list-title">
                        Product
                    </dt>
                    <dd class="footer-list-item">
                        <a href="#solution">Our Solution</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#benefits">Benefits</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#kvp">KVP</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#ux">UX</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#empathy">Empathy Map</a>
                    </dd>
                </dl>
        
                <dl class="footer-list-container">
                    <dt class="footer-list-title">
                        Resources
                    </dt>
                    <dd class="footer-list-item">
                        <a href="#">Coming Soon</a>
                    </dd>
                </dl>
        
                <dl class="footer-list-container">
                    <dt class="footer-list-title">
                        Pricing
                    </dt>
                    <dd class="footer-list-item">
                        <a href="#">Coming Soon</a>
                    </dd>
                </dl>
        
                <dl class="footer-list-container">
                    <dt class="footer-list-title">
                        About
                    </dt>
                    <dd class="footer-list-item">
                        <a href="#">Why us?</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#team">Team</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#contact">Contact Us</a>
                    </dd>
                </dl>
            </ul>
        
            <p class="footer-copyright align-center">
                Copyright &copy; 2022 Chamelodors Inc.
            </p>
        
            </footer>
        </div>
    </body>
        