<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Page Info -->
        <title>Landing Page</title>
        <meta name="author" content="Ramsin Khoshabeh">
        <meta name="description" content="A Place to Call Home">
    
        <link rel="stylesheet" type="text/css" href="css/agile.css">
      </head>
<body>

    <div class="hero2">
        <img src="images/logo.png">
    </div>
    <div class='hero'>
        <h1> Chamelodors </h1>
        <p> Smart, Adaptive, and Stylish Humidification </p>
    </div>
    
    
    <section class='padding-responsive'>

        <h1 class='bordered'> Product Description </h1>
        <p> Chamelodors is a new company that is seeking to target the cigar and cannabis market with a premium smart and stylish humidor for both storage and display. This humidor will be fully automated - no more fussing with humidification packs. The humidity settings can be changed either through the control panel or on our mobile app. The interface includes easy-to-read gauges and intuitive controls such that anyone can simply store and display their cigars or cannabis with confidence and ease of mind.</p>

        <h1 class='bordered'> Meet the Team!</h1>
        <section class='responsive_grid'>
            <div class='card bordered margin-none'> 
            <h2>Rasya Soeroso</h2>
            <p>An electrical engineering senior with a depth in ML and Controls.    Born and raised in Indonesia. She has an uttermost passion for technology, engineering and product development.</p>
            </div>
            <div class='card bordered margin-none'> 
            <h2>Gino Calgaro</h2> 
            <p>A San Diego native, Gino is a fourth-year Electrical Engineering major at UC San Diego studying a depth in Digital Signal Processing. In his free time, he enjoys playing music, working on cars, and trying new things.</p>
            </div>
            <div class='card bordered margin-none'> 
            <h2>Rishiv Thondepu</h2> 
            <p>An ECE major with a depth in ML and Controls, Rishiv is passionate about building products. He is from Chennai, India and is pursuing a career in Systems Engineering.</p>
            </div>
        </section>
    </section>
    
  
       
</body>
</html>