<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Page Info -->
        <title>Chamelodors</title>
        <meta name="author" content="Rasya Soeroso">
        <meta name="description" content="A Place to Call Home">
    
        <link rel="stylesheet" type="text/css" href="css/agile.css">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
      </head>
    <body>
        <!------------------------------------ HEADER ---------------------------------------------------------------------->
        <header id="header">
            <nav id="nav-bar">
            <ul class="nav-list">
                <ul class="nav-left">
                    <li>
                        <a href="/">
                            <img id="header-img" src="images/CL_transparent_outline_grn.png" alt="Logo">
                        </a>
                    </li>
                </ul>
                <div class="menu-wrap">
                    <input type="checkbox" class="toggler">
                    <div class="hamburger">
                        <div></div>
                </div>
                <div class="menu">
                    <div>
                        <div>
                            <ul class="nav-list">
                                <li class="nav-elements">
                                    <a class="nav-link" href="#solution">Our Solution</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#benefits">Benefits</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#kvp">KVP</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#ux">UX</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#empathy">Empathy Map</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#ui">UI</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#ia">IA</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#id">IxD</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#costs">Costs</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#revenue">Revenue</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#pivot">Pivoting</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#team">Team</a>
                                </li>
                                <li class="nav-elements">
                                    <a class="nav-link" href="#">Shop</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </ul>
            </nav>
        
        </header>
        <!------------------------------------ HEADER ENDS ---------------------------------------------------------------------->
        
        <div class="container">
            <!------------------------------------ HERO ---------------------------------------------------------------------->
            <a href="#"></a>
            <section id="hero">
                <div class="hero-text">
                    <h1>
                    Chamelodors
                    </h1>
                    <p class="description">
                        Chamelodors is a new company that is seeking to target the cigar and cannabis market with a premium smart and stylish humidor for both storage and display. 
                        This humidor will be fully automated—no more fussing with humidification packs. The humidity settings can be changed either through the control panel or on our mobile app. The interface includes easy-to-read gauges and intuitive controls such that anyone can simply store and display their cigars or cannabis with confidence and ease of mind.
                    </p>
                    <a href="#shop" class="hero-btn btn align-center text-small btn-2">Buy now</a>
                </div>
                <div class="hero-image image-container">
                    <img src="images/canacigar.jpg" alt="Hero Image">
                </div>
            </section>  
            <!------------------------------------ HERO ENDS ---------------------------------------------------------------------->
            <!------------------------------------ SOLUTION ---------------------------------------------------------------------->
            <a id="solution" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title">
                    Our Solution
                    </h2>
                </div>
                <p class="title-description align-center">
                    No more leaky humidor. Maintain its potency.
                </p>
                <div class="pricing-container">
                    <div class="pricing-card-container align-center">
                        <p class="pricing-card-description align-center">
                            <img class='sol' src="images/double_ins.png" alt="">
                            <span class="small">Dual-Layer insulation</span>
                        </p>
                        <p class="par">Acrylic interior for consistent humidification, wood exterior for style.</p>
                    </div>

                    <div class="pricing-card-container align-center">
                        <p class="pricing-card-description align-center">
                            <img class='sol' src="images/iot.png" alt="">
                            <span class="small">IoT smart control</span>
                        </p>
                        <p class="par">Monitor and adjust the humidity level from the app.</p>
                    </div>
                </div>
            </section>
            <!------------------------------------ SOLUTION ENDS ---------------------------------------------------------------------->
            <!------------------------------------ BENEFITS ---------------------------------------------------------------------->
            <a id="benefits" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title">
                    Benefits
                    </h2>
                </div>
                <p class="title-description align-center">
                    A humidity solution that is consistent, automatic, easy to use, affordable, and stylish has yet to exist…until now. 
                    Chamelodors offers a solution that exceeds each one of these points:
                </p>
            
                <div class="section-container">
                    <div>
                        <div class="image-container image-bnf">
                            <img src="images/consistent.png"
                                alt="">
                        </div>
                    </div>
                    <div>
                        <div class="text-container">
                            <h2 class="heading">
                                Consistent
                            </h2>
                            <p class="description">
                                Our humidor functions like a Tupperdore on the inside with sealed acrylic insulation, 
                                while maintaining a classic wooden style on the outside. No more leaks!
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="text-container">
                            <h2 class="heading">
                                Automatic
                            </h2>
                            <p class="description">
                                The Chamelodors humidor uses a temperature and humidity sensor not only to display the temperature and humidity information to the user, but also to make adaptive humidification decisions on the fly! 
                                Based on the user’s preference, our humidor uses a computer to monitor the desired humidity level and makes adjustments to meet that level.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="image-container image-bnf">
                            <img src="images/auto.png"
                                alt="">
                        </div>
                    </div>
                    <div>
                        <div class="image-container image-bnf">
                            <img src="images/easy.png"
                                alt="">
                        </div>
                    </div>
                    <div>
                        <div class="text-container">
                            <h2 class="heading">
                                Easy to use
                            </h2>
                            <p class="description">
                                The controls on our humidor are intuitive and natural. 
                                Gauges are easily readable at a glance and setting your desired humidity level could not be easier. Since the computer handles the actual humidification, the only user input required is their desired humidity level. 
                                Humidifying your cigars and/or cannabis has never been easier!
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="text-container">
                            <h2 class="heading">
                                Affordable
                            </h2>
                            <p class="description">
                                The Chamelodors humidor will be competitively priced against other accessible manual humidors on the market.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="image-container image-bnf">
                            <img src="images/affordable.png"
                                alt="">
                        </div>
                    </div>
                    <div>
                        <div class="image-container image-bnf">
                            <img src="images/stylish.png"
                                alt="">
                        </div>
                    </div>
                    <div>
                        <div class="text-container">
                            <h2 class="heading">
                                Stylish
                            </h2>
                            <p class="description">
                                The Chamelodor humidor was designed to be shown off! Design cues for the control panel were inspired by timeless classic designs, such as classic automotive gauges and vintage guitar amplifier controls. 
                                Interior LED lighting along with a glass door ensures that your investments look impressive and transform into a conversation piece. 
                                The wooden exterior blends in nicely with surrounding furniture.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!------------------------------------ BENEFITS END ---------------------------------------------------------------------->
        
        
            <!------------------------------------ KVP ---------------------------------------------------------------------->
            <a id="kvp" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title">
                    Our KVP
                    </h2>
                </div>
                <p class="title-description align-center"> 
                    Chamelodors offers a new and unique humidification experience to its customers. 
                    As of now, there does not exist an affordable humidor on the market that is also automatic, stylish, and consistent. 
                    We seek to fill this void and hence redefine the status quo of tobacco and cannabis storage with our revolutionary product—no sacrifices or extra effort required.
                </p>
                <div class="image-container image-kvp">
                    <img src="images/landscape-crop.jpg" alt="">
                </div>
            </section>
            <!------------------------------------ KVP END ---------------------------------------------------------------------->
            <!------------------------------------ UX ---------------------------------------------------------------------->
            <a id="ux" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title">
                    User Experience
                    </h2>
                </div>
                <p class="description margin-top"> 
                    Some improvements were made to improve the user experience for this website. 
                    The home page is presented as an "envelope" with our logo placed in the center of the page. 
                    A hover effect was added as a cue for users to click the logo. 
                    The click will then redirect them to the product page where all the information lives.
                </p>
                <h2 class="heading">the Principle of Visibility</h2>
                <p class="description">
                    The navigation bar allows them to quickly and easily find the information they're looking for. 
                    When they click one of the menu options, it will send them to the corresponding section in the webpage.
                    It can also help them find important information that they didn’t know they needed, like an email signup page, or team information.
                </p>
                <h2 class="heading">the Principle of Viscosity</h2>
                <p class="description">
                    This website allows users to continuously scroll through our content without taking too many steps to accomplish their goal.
                    We love our customers, and we want to provide them with a frictionless browsing experience. 
                    Indeed, this is designed to pull you in and hopefully make you become our customer!
                </p>
                <h2 class="heading">the Principle of Consistency</h2>
                <p class="description">
                    Consistent patters allows users to recognize familiar elements as they move through a system. 
                    For example, I used the same heading pattern for every section, and the same hover effect for "buy now" and "subscribe" buttons. 
                </p>
            </section>

            <!------------------------------------ UX END ---------------------------------------------------------------------->

            <!------------------------------------ EMPATHY MAP ---------------------------------------------------------------------->
            <a id="empathy" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title">
                    Empathy Map
                    </h2>
                </div>
                <div class="image-container image-kvp margin-bottom">
                    <img src="images/empathy-map.png" alt="">
                </div>
            </section>

            <!------------------------------------ EMPATHY MAP END ---------------------------------------------------------------------->
            <!------------------------------------ UI ---------------------------------------------------------------------->
            <a id="ui" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title margin-top">
                        User Interface
                    </h2>
                </div>
                <div class="section-container">
                    <div class="image-container image-bnf">
                        <img src="images/design.png"
                            alt="">
                    </div>
                    <div class="image-container image-bnf">
                        <img src="images/display.jpg"
                            alt="">
                    </div>
                </div>
                
                <div class="section-title">
                    <h2 class="title">
                        Laws of UI Design
                    </h2>
                </div>
                <div class="section-container margin-top">
                    <div>
                        <div class="text-container">
                            <h2 class="heading">Hick’s Law</h2>
                            <p class="description">
                                The time it takes to make a decision increases with the number and complexity of choices.
                            </p>
                            <h3>Sound Mixer</h3>
                            <p class="description">
                                It lets you blend and tweak the audio signals coming in from microphones, musical instruments, and other audio sources.
                                Each control on an analog mixer performs a single function.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="image-container image-bnf">
                            <img src="images/sound-mixer.jpg"
                                alt="">
                        </div>
                    </div>
                    <div>
                        <div class="text-container">
                            <h2 class="heading">Law of Uniform Connectedness</h2>
                            <p class="description">
                                Elements that are visually connected are perceived as more related than elements with no connection.
                            </p>
                            <h3>Navigation Apps</h3>
                            <p class="description">
                                Color and size of both apple maps and google maps icons indicate that they belong to the same group.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="image-container image-bnf">
                            <img src="images/icon.jpeg"
                                alt="">
                        </div>
                    </div>
                    <div>
                        <div class="text-container">
                            <h2 class="heading">Aesthetic-Usability Effect</h2>
                            <p class="description">
                                Users often perceive aesthetically pleasing design as design that’s more usable.
                            </p>
                            <h3>Pantone Mettalic Shimmers Color Guide</h3>
                            <p class="description">
                                A tool for designers to get inspiration and specify metallic effects for fashion accessories, footwear, electronics, housewares, and interiors.
                                With its aesthetic and simple designs, this product has a higher probability of being used, whether or not it actually is easier to use.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="image-container image-bnf">
                            <img src="images/pantone.png"
                                alt="">
                        </div>
                    </div> 
                </div>
            </section>

            <!------------------------------------ UI END ---------------------------------------------------------------------->

            <!------------------------------------ IA ---------------------------------------------------------------------->
            <a id="ia" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title margin-top">
                        Information Architecture
                    </h2>
                </div>
                <div class="margin-top">
                    <ol>
                        <li>
                            <p class="description">
                                <i>What basic information does a typical user need to have access to on first interaction with your product? </i>
                            </p>
                            <ol type="a">
                                <li>
                                    A manual which includes the instructions to  set up the device, 
                                    connect the device to the app, change the settings, and rehydrate the humidity beads.
                                </li>
                                <li>
                                    Labels on the humidity and temperature gauges, 
                                    seven-segments display which shows the desired humidity, interior light and power switches. 
                                </li>
                                <li>
                                    Labels/arrows to open the humidity beads container.
                                </li>
                            </ol>
                        </li>
                        <li>
                            <p class="description margin-top">
                                <i>What IA Design Principles (Dan Brown) are important for your product?</i> 
                            </p>
                            The principle of choice, by only providing set of choices that are meaningful to our users, 
                            and the principle of disclosure, which shows sufficient information to help people naviating their way while letting them to decide if they want to dig deeper. 
                        </li>
                        <li>
                            <p class="description margin-top">
                                <i>Which structural Organizational Principle(s) make(s) the most sense for your product? </i> 
                            </p>
                            Topical IA stucture which organizes data based upon subject similarities. 
                        </li>
                    </ol>
                </div>
                
                
                <div class="section-title">
                    <h2 class="title margin-top">
                        Principles of Visual Hierarchy
                    </h2>
                </div>
                <p class="title-description align-center"> 
                    Here are the three of the 12 Principles of Visual Hierarchy to guide users to the interactions that I have added to my website:
                </p>
                <h2 class="heading">Alignment</h2>
                <p class="description">
                    Grouped each teammate’s name and bio into one card and place them on a 2 by 2 grid.
                </p>
                <h2 class="heading">Color and Contrast</h2>
                <p class="description">
                    Used yellow underlines under each section’s title to indicate different topics in the website
                </p>
                <h2 class="heading">Topographic Hierarchy</h2>
                <p class="description margin-bottom">
                    Used capital letters for each subtitle to highlight its importance in the topic discussed. 
                </p>   
            </section>

            <!------------------------------------ IA END ---------------------------------------------------------------------->
            
            <!------------------------------------ IxD ---------------------------------------------------------------------->
            <a id="id" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title">
                    Features vs Benefits
                    </h2>
                </div>
                <table class='margin-top'>
                    <thead>
                        <tr>
                            <th class='align-center'> Features </th>
                            <th class='align-center'> Benefits </th>
                            <th class='align-center'> Personas </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Dual-layer insulation </td>
                            <td> No more humidity leaking out of your humidor. </td>
                            <td> A regular smoker who uses a leaky humidor, complaining that their cigar/bud becomes moldy.  </td>
                        </tr>
                        <tr>
                            <td> App connectivity </td>
                            <td> Adjust and control humidity level and monitor the temperature of your humidor right from your phone.  </td>
                            <td> A lazy smoker who wants all in one  solution which can be controlled remotely through their phone. </td>
                        </tr>
                        <tr>
                            <td> Beads system automatic rehydration </td>
                            <td> No need to do the hard work of taking off, hydrating, and putting on the beads manually.  </td>
                            <td> A busy smoker that does not have time to take care of the humidification system which needs to be rehydrated periodically in a regular humidor. </td>
                        </tr>
                        <tr>
                            <td> Humidity control knob, switches, and gauges on the hardware </td>
                            <td> Intuitive and natural design that is easy to use and easily readable.  </td>
                            <td> An older user who is not tech savvy and prefers a manual control over their humidor.  </td>
                        </tr>
                        <tr>
                            <td> Wood exterior, interior LED lighting and glassdoor </td>
                            <td> Stylish and ready to be shown off. </td>
                            <td> A cigar/cannabis aficionado who appreciates aesthetics. </td>
                        </tr>
                    </tbody>
                </table>

                <div class="section-title">
                    <h2 class="title margin-top">
                    Interaction Design
                    </h2>
                </div>
                <p class="title-description align-center margin-bottom"> 
                    The key product interactions in our MVP live in the following IxD aspects: words, visual representations, physical objects, and behavior. 
                    We provide clear labels and text embedded to both of our physical device and app to give users the right amount of information to 
                    navigate through the product. On the app, we use icons and other graphical elements to emphasize the functionality offered by our product. 
                    Users can directly adjust the humidity level by controlling the knob to the desired level shown on the seven-segment display, and monitor the output on the humidity and temperature gauges. 
                    Those who prefer remote humidity controlling can also do the same thing through the app. 
                    Any actions taken by the users will instantly be reflected both on the app and the physical device.
                </p>
            </section>
            <!------------------------------------ IxD END ---------------------------------------------------------------------->
            <!------------------------------------ COSTS ---------------------------------------------------------------------->
            <a id="costs" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title">
                    Costs
                    </h2>
                </div>
                <table class='margin-top margin-bottom'>
                    <thead>
                        <tr>
                            <th class='align-center'> Item </th>
                            <th class='align-center'> Price </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-center"><h3>Raw Material</h3></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td> Raspberry Pi</td>
                            <td> $35.00 </td>
                        </tr>
                        <tr>
                            <td> SD Card </td>
                            <td> $8.41  </td>
                        </tr>
                        <tr>
                            <td> Arduino Nano </td>
                            <td> $11.79  </td>
                        </tr>
                        <tr>
                            <td> Stepper Motors </td>
                            <td> $9.90  </td>
                        </tr>
                        <tr>
                            <td> Seven-segment Displays </td>
                            <td> $1.34  </td>
                        </tr>
                        <tr>
                            <td> Switches </td>
                            <td> $1.80  </td>
                        </tr>
                        <tr>
                            <td> Potentiometer </td>
                            <td> $3.33  </td>
                        </tr>
                        <tr>
                            <td> Acrylic </td>
                            <td> $35.99  </td>
                        </tr>
                        <tr>
                            <td> Wood </td>
                            <td> $16.99  </td>
                        </tr>
                        <tr>
                            <td> PCB </td>
                            <td> $11.68  </td>
                        </tr>
                        <tr>
                            <td class="align-center"><h3>Labor & Manufacturing</h3></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td> Assembly (2 hrs) </td>
                            <td> $40.00  </td>
                        </tr>
                        <tr>
                            <td> QC (1 hr) </td>
                            <td> $30.00  </td>
                        </tr>
                        <tr>
                            <td> R&D </td>
                            <td> $50.00  </td>
                        </tr>
                        <tr>
                            <td class="align-center"><h3>COGS</h3></td>
                            <td>$256.23</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <!------------------------------------ COSTS END ---------------------------------------------------------------------->
            <!------------------------------------ REVENUE ---------------------------------------------------------------------->
            <a id="revenue" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title margin-top">
                    Revenue
                    </h2>
                </div>
                <p class="title-description"> 
                    The revenue model that we propose is by using one-time purchase for our hardware and a recurring monthly subscription fee in order to use the app connectivity feature. 
                    We sell our automatic humidor for $349.00, resulting in a 36.2% profit margin for each unit. 
                    Whilst, our recurring app subscription fee will cost $0.99/month. 
                </p>
                <p class="title-description">
                    Furthermore, we will make our product available using two retail channels: retail stores and online retailers. 
                    Our customers can find our product at their favorite cigar shops and dispensaries, allowing them to see, touch, and feel the product first before buying it. 
                    On the other hand, selling it on our own website will provide a more convenient option for people who prefer to shop and browse products online. 
                    We expect to sell 2,000 units in our first year, in which 1,500 come from online purchases and 500 from retail stores. 
                    Additionally, we project that 75% of our customers will also opt in to pay the app subscription fee. 
                    Hence, our expected annual revenue from online purchases is $535,865.00 and $178,995.00, yielding to the total annual revenue of $714,820.00.
                </p>
            </section>
            <!------------------------------------ REVENUE END ---------------------------------------------------------------------->
            <!------------------------------------ REVENUE ---------------------------------------------------------------------->
            <a id="pivot" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title margin-top">
                    Pivoting
                    </h2>
                </div>
                <p class="title-description"> 
                    One pivot that we have already undertaken was changing the materials that we plan to use so that we can have a more competitive price per unit. 
                    In the future, we think that it is necessary to expand our product options, for example, making a variety of capacity storage to choose from. 
                    From the 10 pivot strategies, we have applied the Zoom-In Pivot, focusing more on one feature rather than realizing the whole design plan. 
                    We initially planned the app to have the data analytics capabilities, but as we only have a limited time, we decided to postpone this feature and focus on the main feature of the app which is controlling the humidity level remotely.
                </p>
            </section>
            <!------------------------------------ REVENUE END ---------------------------------------------------------------------->

            <!------------------------------------ TEAM ---------------------------------------------------------------------->
            <a id="team" href="#"></a>
            <section class="section">
                <div class="section-title">
                    <h2 class="title">
                        Meet the Team!
                    </h2>
                </div>
                <div class="pricing-container">
                    <div class="pricing-card-container align-center">
                        <h1 class="pricing-card-title align-center">
                        Rasya Soeroso
                        </h1>
                        <p class="par">
                            An electrical engineering senior with a depth in ML and Controls.    
                            Born and raised in Indonesia. She has an uttermost passion for technology, engineering and product development.
                        </p>
                    </div>
                    <div class="pricing-card-container align-center">
                        <h1 class="pricing-card-title align-center">
                        Rishiv Thondepu
                        </h1>
                        <p class="par">
                            An ECE major with a depth in ML and Controls, Rishiv is passionate about building products. 
                            He is from Chennai, India and is pursuing a career in Systems Engineering.
                        </p>
                    </div>
                    <div class="pricing-card-container align-center">
                        <h1 class="pricing-card-title align-center">
                        Gino Calgaro
                        </h1>
                        <p class="par">
                            A San Diego native, Gino is a fourth-year Electrical Engineering major at UC San Diego studying a depth in Digital Signal Processing. 
                            In his free time, he enjoys playing music, working on cars, and trying new things.
                        </p>
                    </div>
                    <div class="pricing-card-container align-center">
                        <h1 class="pricing-card-title align-center">
                        Kyle Janosky
                        </h1>
                        <p class="par">
                            Coming soon
                        </p>
                    </div>
                </div>
                
            </section>
            <!------------------------------------ TEAM END ---------------------------------------------------------------------->

            <!------------------------------------ FOOTER ---------------------------------------------------------------------->
        
            <a id="contact" href="#"></a>
            <footer id="footer">
            <div class="footer-container">
                <h1 class="footer-text align-center">
                Stay in the loop
                </h1>
        
                <p class="footer-description align-center">
                Subscribe to our newsletter to get the latest news and updates.
                </p>
        
                <form action="" id="form">
                <input type="email" name="email" id="email" placeholder="Enter your email address">
                <input type="submit" id="submit" class="btn align-center text-small footer-btn" value="Subscribe">
                </form>
            </div>
        
            <ul class="footer-list">
                <dd class="footer-list-item">
                    <a href="#"><img id="logo" src="images/CL_transparent_outline_grn.png" alt="Robot"></a>
                </dd>
                <dl class="footer-list-container">
                    <dt class="footer-list-title">
                        Product
                    </dt>
                    <dd class="footer-list-item">
                        <a href="#solution">Our Solution</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#benefits">Benefits</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#kvp">KVP</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#ux">UX</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#empathy">Empathy Map</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#ui">UI</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#ia">IA</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#id">IxD</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#pivot">Pivoting</a>
                    </dd>
                </dl>
        
                <dl class="footer-list-container">
                    <dt class="footer-list-title">
                        Resources
                    </dt>
                    <dd class="footer-list-item">
                        <a href="#">Coming Soon</a>
                    </dd>
                </dl>
        
                <dl class="footer-list-container">
                    <dt class="footer-list-title">
                        Pricing
                    </dt>
                    <dd class="footer-list-item">
                        <a href="#costs">Costs</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#revenue">Revenue</a>
                    </dd>
                </dl>
        
                <dl class="footer-list-container">
                    <dt class="footer-list-title">
                        About
                    </dt>
                    <dd class="footer-list-item">
                        <a href="#">Why us?</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#team">Team</a>
                    </dd>
                    <dd class="footer-list-item">
                        <a href="#contact">Contact Us</a>
                    </dd>
                </dl>
            </ul>
        
            <p class="footer-copyright align-center">
                Copyright &copy; 2022 Chamelodors Inc.
            </p>
        
            </footer>
        </div>
    </body>
        