<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Page Info -->
        <title>Chamelodors</title>
        <meta name="author" content="Rasya Soeroso">
        <meta name="description" content="A Place to Call Home">
    
        <link rel="stylesheet" type="text/css" href="css/welcome.css">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
      </head>
    <body>
        <div class="container">
            <div class="content">
                <a href="/home">
                    <img class="logo" src="images/CL_transparent_outline_grnblk_txt2.png">
                </a>
            </div>
        </div>
    </body>